// ==========================================================================
// Important Notice:
// Responsive design with CSS3 media queries are not supported with
// Internet Explorer versions before IE9.
// ==========================================================================

// Base styles
@import "base";

// Helper classes
@import "helper";


//
// Overrides
//

// Default button with an icon
img, svg {
    .bootstrap-buttons---btn.bootstrap-buttons---btn-default > & {
        color: #666;
    }
    .bootstrap-buttons---btn.bootstrap-buttons---btn-primary > & {
        color: #fff;
    }
    .bootstrap-buttons---btn.bootstrap-buttons---btn-secondary > & {
        color: #fff;
    }
    .bootstrap-buttons---btn.bootstrap-buttons---btn-success > & {
        color: #fff;
    }
    .bootstrap-buttons---btn.bootstrap-buttons---btn-danger > & {
        color: #fff;
    }
    .bootstrap-buttons---btn.bootstrap-buttons---btn-warning > & {
        color: #666;
    }
    .bootstrap-buttons---btn.bootstrap-buttons---btn-info > & {
        color: #fff;
    }
    .bootstrap-buttons---btn.bootstrap-buttons---btn-light > & {
        color: #666;
    }
    .bootstrap-buttons---btn.bootstrap-buttons---btn-dark > & {
        color: #fff;
    }
}
