// ==========================================================================
// Base styles: opinionated defaults
// ==========================================================================

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

body {
    background-color: #fff;
    color: #222;
    margin: 0;
    text-align: left;
}

body {
    min-width: 960px;
    @media (max-width: 767px) {
        min-width: 0;
    }
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
