// Vertical Spacing for Bootstrap Columns
// https://coderwall.com/p/0jezca/vertical-spacing-for-bootstrap-columns
.row {
    &.row-grid {
        [class*="col-"] + [class*="col-"] {
            margin-top: 15px;
        }

        @media (min-width: 1200px) {
            [class*="col-lg-"] + [class*="col-lg-"] {
                margin-top: 0;
            }
        }

        @media (min-width: 992px) {
            [class*="col-md-"] + [class*="col-md-"] {
                margin-top: 0;
            }
        }

        @media (min-width: 768px) {
            [class*="col-sm-"] + [class*="col-sm-"] {
                margin-top: 0;
            }
        }
    }
}
