// .btn-default.btn-select
.btn-default {
    &.btn-select {
        color: #fff;
        background-color: #404040;
        border-color: #383838;
    }
    &.btn-select:focus,
    &.btn-select.focus {
        color: #fff;
        background-color: #404040;
        border-color: #383838;
    }
    &.btn-select:hover {
        color: #fff;
        background-color: #404040;
        border-color: #383838;
    }
}
