$padding-bottom = 12px;

.table-form {
    display: table;

    .table-form-row {
        display: table-row;
    }

    .table-form-row-dense,
    .table-form-row:last-child,
    .table-form-row.last {
        .table-form-col,
        .table-form-col-label {
            padding-bottom: 0;
        }
    }

    .table-form-col {
        display: table-cell;
        text-align: left;
        padding-bottom: $padding-bottom;
        vertical-align: middle;

        &.top {
            vertical-align: top;
        }
        &.middle {
            vertical-align: middle;
        }
        &.bottom {
            vertical-align: bottom;
        }
    }
    .table-form-col-label {
        cursor: default;
        padding: 0 10px $padding-bottom 0;
        width: 1%;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
