$black = rgb(0, 0, 0, 1);
$white = rgb(255, 255, 255, 1);
$gray-base = rgb(34, 34, 34, 1);
$gray-darker = rgb(68, 68, 68, 1);
$gray-dark = rgb(136, 136, 136, 1);
$gray = rgb(187, 187, 187, 1);
$gray-light = rgb(230, 230, 230, 1);
$gray-lighter = rgb(248, 248, 248, 1);
$brand-primary = rgb(0, 150, 204, 1);
$brand-success = rgb(0, 169, 79, 1);
$brand-warning = rgb(255, 118, 51, 1);
$brand-danger = rgb(219, 61, 68, 1);
$reds = rgb(194, 35, 39, 1), rgb(205, 54, 58, 1), brand-danger, rgb(225, 80, 84, 1), rgb(229, 102, 105, 1), rgb(230, 119, 124, 1), rgb(233, 139, 143, 1), rgb(243, 192, 195, 1), rgb(248, 220, 221, 1), rgb(253, 232, 233, 1);
$blues = rgb(3, 111, 150, 1), rgb(3, 130, 176, 1), brand-primary, rgb(51, 171, 214, 1), rgb(76, 181, 219, 1), rgb(102, 192, 224, 1), rgb(127, 202, 229, 1), rgb(153, 213, 235, 1), rgb(204, 234, 245, 1), rgb(230, 244, 252, 1);
$oranges = rgb(235, 80, 4, 1), rgb(252, 102, 29, 1), brand-warning, rgb(253, 136, 78, 1), rgb(254, 153, 103, 1), rgb(255, 173, 133, 1), rgb(255, 186, 153, 1), rgb(255, 200, 173, 1), rgb(255, 228, 214, 1), rgb(255, 237, 227, 1);
$yellows = rgb(238, 183, 17, 1), rgb(245, 194, 23, 1), rgb(250, 202, 42, 1), rgb(252, 209, 64, 1), rgb(252, 217, 99, 1), rgb(252, 222, 120, 1), rgb(252, 227, 141, 1), rgb(252, 231, 158, 1), rgb(253, 240, 195, 1), rgb(252, 248, 218, 1);
$light-greens = rgb(131, 170, 50, 1), rgb(147, 190, 55, 1), rgb(159, 202, 69, 1), rgb(168, 207, 87, 1), rgb(178, 213, 106, 1), rgb(188, 218, 124, 1), rgb(207, 228, 162, 1), rgb(226, 239, 199, 1), rgb(243, 249, 232, 1), rgb(248, 251, 241, 1);
$greens = rgb(2, 116, 55, 1), rgb(2, 141, 67, 1), brand-success, rgb(51, 186, 114, 1), rgb(76, 195, 131, 1), rgb(117, 208, 159, 1), rgb(153, 221, 185, 1), rgb(196, 235, 214, 1), rgb(219, 245, 231, 1), rgb(232, 249, 240, 1);
$teals = rgb(8, 142, 120, 1), rgb(9, 167, 140, 1), rgb(10, 191, 161, 1), rgb(9, 218, 183, 1), rgb(58, 225, 197, 1), rgb(107, 233, 212, 1), rgb(137, 236, 222, 1), rgb(179, 244, 233, 1), rgb(206, 248, 241, 1), rgb(226, 250, 246, 1);
$cyans = rgb(19, 150, 177, 1), rgb(21, 165, 195, 1), rgb(22, 191, 225, 1), rgb(69, 204, 231, 1), rgb(91, 210, 234, 1), rgb(115, 217, 237, 1), rgb(138, 223, 240, 1), rgb(167, 230, 243, 1), rgb(208, 242, 249, 1), rgb(235, 250, 253, 1);
$indigos = rgb(41, 57, 203, 1), rgb(54, 70, 215, 1), rgb(75, 89, 220, 1), rgb(93, 105, 223, 1), rgb(120, 131, 229, 1), rgb(138, 147, 232, 1), rgb(165, 172, 237, 1), rgb(187, 193, 241, 1), rgb(219, 222, 248, 1), rgb(235, 237, 252, 1);
$purples = rgb(137, 29, 123, 1), rgb(156, 33, 141, 1), rgb(179, 37, 160, 1), rgb(200, 41, 179, 1), rgb(214, 67, 195, 1), rgb(219, 88, 202, 1), rgb(224, 122, 211, 1), rgb(233, 173, 225, 1), rgb(247, 217, 243, 1), rgb(252, 240, 251, 1);
$grays = $gray-base, $gray-darker, rgb(102, 102, 102, 1), rgb(119, 119, 119, 1), $gray-dark, rgb(153, 153, 153, 1), rgb(170, 170, 170, 1), $gray, rgb(204, 204, 204, 1), rgb(221, 221, 221, 1), $gray-light, rgb(238, 238, 238, 1), rgb(244, 244, 244, 1), $gray-lighter;
$black_white = black, white;
$body-bg = rgb(255, 255, 255, 1);
$text-color = $gray-base;
$link-color = #4078c0;
$link-hover-color = #4078c0;
$link-decoration = inherit;
$link-hover-decoration = underline;
$base-space = 8px;
$hr-border = rgb(221, 221, 221, 1);
$font-family-arial = Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-family-sans-serif = "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif = Georgia, "Times New Roman", Times, serif;
$font-family-monospace = Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base = $font-family-arial;
$font-size-lead = 16px;
$font-size-large = 14px;
$font-size-base = 14px;
$font-size-small = 12px;
$font-size-h1 = 40px;
$font-size-h2 = 32px;
$font-size-h3 = 27px;
$font-size-h4 = 24px;
$font-size-h5 = 18px;
$font-size-h6 = 16px;
$letter-spacing-heading-l = -.03em;
$letter-spacing-heading-s = -.02em;
$line-height-base = 1.5;
$line-height-lead-computed = ceil(($font-size-lead * $line-height-base));
$line-height-large-computed = ceil(($font-size-large * $line-height-base));
$line-height-base-computed = ceil(($font-size-base * $line-height-base));
$line-height-small-computed = ceil(($font-size-small * $line-height-base));
$headings-font-family = Interstate-Light, Arial, "Helvetica Neue", Helvetica, font-family-sans-serif;
$headings-font-family-h1 = Interstate-ExtraLight, Arial, "Helvetica Neue", Helvetica, font-family-sans-serif;
$headings-font-weight = 200;
$headings-line-height = 1.1;
$headings-color = $gray-base;
$headings-small-color = $gray-darker;
$text-muted = rgb(153, 153, 153, 1);
$abbr-border-color = $brand-primary;
$text-mark = rgb(253, 240, 195, 1);
$list-padding = 24px;
$component-offset-horizontal = 180px;
$dl-horizontal-title-color = $gray-dark;
$dl-horizontal-line-height = 24px;
$dl-horizontal-offset = component-offset-horizontal;
$dl-horizontal-breakpoint = $grid-float-breakpoint;
$icon-font-path = "../fonts/";
$icon-font-name = "glyphicons-halflings-regular";
$icon-font-svg-id = "glyphicons_halflingsregular";
$table-cell-padding = 8px;
$table-condensed-cell-padding = 5px;
$table-bg = transparent;
$table-bg-accent = rgb(249, 249, 249, 1);
$table-bg-hover = rgb(245, 245, 245, 1);
$table-bg-active = table-bg-hover;
$table-border-color = extract($grays, 10);
$btn-font-weight = normal;
$btn-min-width = 80px;
$btn-cursor-disable = not-allowed;
$btn-default-color = $text-color;
$btn-default-bg = rgb(251, 251, 251, 1);
$btn-default-bg-top = rgb(251, 251, 251, 1);
$btn-default-bg-bottom = rgb(236, 236, 236, 1);
$btn-default-border = rgb(204, 204, 204, 1);
$btn-default-bg-hover-top = rgb(255, 255, 255, 1);
$btn-default-bg-hover-bottom = rgb(245, 245, 245, 1);
$btn-default-border-hover = rgb(187, 187, 187, 1);
$btn-default-bg-active = rgb(238, 238, 238, 1);
$btn-default-border-active = rgb(187, 187, 187, 1);
$btn-default-active-shadow = 0 1px 4px rgba(0, 0, 0, .1) inset;
$btn-primary-color = rgb(255, 255, 255, 1);
$btn-primary-bg = $brand-primary;
$btn-primary-bg-top = rgb(0, 167, 230, 1);
$btn-primary-bg-bottom = rgb(0, 150, 204, 1);
$btn-primary-border = rgb(0, 149, 206, 1);
$btn-primary-bg-hover-top = rgb(29, 174, 229, 1);
$btn-primary-bg-hover-bottom = rgb(0, 163, 223, 1);
$btn-primary-border-hover = rgb(0, 117, 159, 1);
$btn-primary-bg-active = rgb(0, 158, 216, 1);
$btn-primary-border-active = rgb(0, 117, 159, 1);
$btn-primary-active-shadow = 0 1px 6px rgba(0, 0, 0, .15) inset;
$btn-danger-color = rgb(255, 255, 255, 1);
$btn-danger-bg = $brand-danger;
$btn-danger-bg-top = rgb(225, 80, 84, 1);
$btn-danger-bg-bottom = $brand-danger;
$btn-danger-border = rgb(216, 38, 43, 1);
$btn-danger-bg-hover-top = rgb(225, 95, 95, 1);
$btn-danger-bg-hover-bottom = rgb(225, 80, 84, 1);
$btn-danger-border-hover = rgb(194, 35, 39, 1);
$btn-danger-bg-active = rgb(225, 80, 84, 1);
$btn-danger-border-active = rgb(194, 35, 39, 1);
$btn-danger-active-shadow = 0 1px 6px rgba(0, 0, 0, .15) inset;
$btn-border-color = $text-color;
$btn-border-bg = $body-bg;
$btn-border-bg-top = $btn-border-bg;
$btn-border-bg-bottom = $btn-border-bg;
$btn-border-border = $btn-default-border;
$btn-border-bg-hover-top = rgb(244, 244, 244, 1);
$btn-border-bg-hover-bottom = $btn-border-bg-hover-top;
$btn-border-border-hover = rgb(187, 187, 187, 1);
$btn-border-bg-active = rgb(238, 238, 238, 1);
$btn-border-border-active = rgb(187, 187, 187, 1);
$btn-border-active-shadow = 0 1px 2px rgba(0, 0, 0, .1) inset;
$btn-success-color = rgb(255, 255, 255, 1);
$btn-success-bg = $brand-success;
$btn-success-bg-top = $brand-success;
$btn-success-bg-bottom = $brand-success;
$btn-success-border = darken($btn-success-bg, 5%);
$btn-success-bottom-border = darken($btn-success-bg, 5%);
$btn-success-border-hover = rgb(153, 153, 153, 1);
$btn-warning-color = rgb(255, 255, 255, 1);
$btn-warning-bg = $brand-warning;
$btn-warning-bg-top = $brand-warning;
$btn-warning-bg-bottom = $brand-warning;
$btn-warning-border = darken($btn-warning-bg, 5%);
$btn-warning-bottom-border = darken($btn-warning-bg, 5%);
$btn-warning-border-hover = rgb(153, 153, 153, 1);
$btn-link-disabled-color = $gray-light;
$btn-border-radius-base = $border-radius-base;
$btn-border-radius-lead = $border-radius-lead;
$btn-border-radius-large = $border-radius-large;
$btn-border-radius-small = $border-radius-small;
$input-inner-icon-color = rgb(102, 102, 102, 1);
$input-inner-icon-focus-color = $brand-primary;
$input-bg = rgb(255, 255, 255, 1);
$input-bg-disabled = extract($grays, 10);
$input-color = $gray-base;
$input-border = extract($grays, 9);
$input-border-radius = $border-radius-base;
$input-border-radius-large = $border-radius-large;
$input-border-radius-small = $border-radius-small;
$input-border-focus = $brand-primary;
$input-border-danger = $brand-danger;
$input-color-placeholder = $gray;
$padding-base-vertical = 5px;
$padding-base-horizontal = 16px;
$padding-lead-vertical = 9px;
$padding-lead-horizontal = 16px;
$padding-large-vertical = 6px;
$padding-large-horizontal = 16px;
$padding-small-vertical = 4px;
$padding-small-horizontal = 16px;
$padding-xs-vertical = 1px;
$padding-xs-horizontal = 5px;
$line-height-lead = $line-height-lead-computed;
$line-height-large = $line-height-large-computed;
$line-height-small = $line-height-small-computed;
$input-height-base = ((ceil(($font-size-base * $line-height-base)) + ($padding-base-vertical * 2)) + 2);
$input-height-large = ((ceil(($font-size-large * $line-height-large)) + ($padding-large-vertical * 2)) + 2);
$input-height-small = ((floor(($font-size-small * $line-height-small)) + ($padding-small-vertical * 2)) + 2);
$form-group-margin-bottom = 12px;
$legend-color = $gray-dark;
$legend-border-color = rgb(229, 229, 229, 1);
$input-group-addon-bg = $gray-lighter;
$input-group-addon-border-color = input-border;
$cursor-disabled = not-allowed;
$border-radius-base = 3px;
$border-radius-lead = 3px;
$border-radius-large = 3px;
$border-radius-small = 3px;
$component-active-color = rgb(255, 255, 255, 1);
$component-active-bg = $brand-primary;
$caret-color = rgb(102, 102, 102, 1);
$caret-width-base = 4px;
$caret-width-large = 5px;
$dropdown-bg = $body-bg;
$dropdown-border = rgb(187, 187, 187, 1);
$dropdown-fallback-border = rgb(187, 187, 187, 1);
$dropdown-divider-bg = rgb(238, 238, 238, 1);
$dropdown-link-color = $text-color;
$dropdown-link-hover-color = $text-color;
$dropdown-link-hover-bg = rgb(238, 238, 238, 1);
$dropdown-link-disabled-opacity = .4;
$dropdown-header-color = rgb(153, 153, 153, 1);
$dropdown-caret-color = rgb(102, 102, 102, 1);
$zindex-navbar = 1000;
$zindex-dropdown = 1000;
$zindex-popover = 1060;
$zindex-tooltip = 1070;
$zindex-navbar-fixed = 1030;
$zindex-modal-background = 1040;
$zindex-modal = 1050;
$screen-xs = 480px;
$screen-xs-min = screen-xs;
$screen-phone = screen-xs-min;
$screen-sm = 768px;
$screen-sm-min = screen-sm;
$screen-tablet = screen-sm-min;
$screen-md = 992px;
$screen-md-min = screen-md;
$screen-desktop = screen-md-min;
$screen-lg = 1200px;
$screen-lg-min = screen-lg;
$screen-lg-desktop = screen-lg-min;
$screen-xs-max = (screen-sm-min - 1);
$screen-sm-max = (screen-md-min - 1);
$screen-md-max = (screen-lg-min - 1);
$grid-columns = 12;
$grid-gutter-width = 30px;
$grid-float-breakpoint = screen-sm-min;
$grid-float-breakpoint-max = (grid-float-breakpoint - 1);
$pagination-color = $btn-border-color;
$pagination-bg = $btn-border-bg;
$pagination-border = $btn-border-border;
$pagination-hover-color = $btn-border-color;
$pagination-hover-bg = $btn-border-bg-hover-top;
$pagination-hover-border = $btn-border-border-hover;
$pagination-active-color = $btn-border-color;
$pagination-active-bg = $btn-border-bg-active;
$pagination-active-border = $btn-border-border-active;
$pagination-disabled-color = $btn-border-color;
$pagination-disabled-bg = rgb(255, 255, 255, 1);
$pagination-disabled-border = rgb(204, 204, 204, 1);
$tooltip-max-width = 320px;
$tooltip-color = rgb(255, 255, 255, 1);
$tooltip-bg = rgb(68, 68, 68, 1);
$tooltip-opacity = 1;
$tooltip-arrow-width = 5px;
$tooltip-arrow-color = tooltip-bg;
$tooltip-light-color = $gray-base;
$tooltip-light-bg = $gray-lighter;
$popover-bg = rgb(255, 255, 255, 1);
$popover-max-width = 288px;
$popover-border-color = rgb(204, 204, 204, 1);
$popover-fallback-border-color = rgb(204, 204, 204, 1);
$popover-title-bg = transparent;
$popover-arrow-width = 8px;
$popover-arrow-color = popover-bg;
$popover-arrow-outer-width = (popover-arrow-width + 1);
$popover-arrow-outer-color = popover-border-color;
$popover-arrow-outer-fallback-color = popover-border-color;
$label-blue-bg = extract($blues, 5);
$label-green-bg = extract($greens, 5);
$label-cyan-bg = extract($cyans, 4);
$label-orange-bg = extract($oranges, 5);
$label-red-bg = extract($reds, 5);
$label-indigo-bg = extract($indigos, 6);
$label-yellow-bg = extract($yellows, 6);
$label-light-gray-bg = $gray-light;
$label-gray-bg = extract($grays, 7);
$label-dark-bg = extract($grays, 3);
$label-color = rgb(255, 255, 255, 1);
$label-link-hover-color = rgb(255, 255, 255, 1);
$alert-success-bg = extract($greens, 9);
$alert-success-border = 1px solid extract($greens, 8);
$alert-info-bg = extract($blues, 9);
$alert-info-border = 1px solid extract($blues, 8);
$alert-warning-bg = extract($yellows, 9);
$alert-warning-border = 1px solid extract($yellows, 5);
$alert-danger-bg = extract($reds, 9);
$alert-danger-border = 1px solid extract($reds, 8);
$badge-color = rgb(255, 255, 255, 1);
$badge-link-hover-color = rgb(255, 255, 255, 1);
$badge-light-gray-bg = $gray-light;
$badge-blue-bg = extract($blues, 5);
$badge-green-bg = extract($greens, 5);
$badge-cyan-bg = extract($cyans, 4);
$badge-orange-bg = extract($oranges, 5);
$badge-red-bg = extract($reds, 5);
$badge-yellow-bg = extract($yellows, 6);
$badge-dark-bg = extract($grays, 3);
$badge-active-color = $link-color;
$badge-active-bg = rgb(255, 255, 255, 1);
$badge-font-weight = bold;
$badge-line-height = 1;
$badge-border-radius = 10px;
$breadcrumb-height = 48px;
$breadcrumb-bg = transparent;
$breadcrumb-border-width = 1px;
$breadcrumb-border-color = rgb(238, 238, 238, 1);
$breadcrumb-font-size = $font-size-lead;
$breadcrumb-line-height = ($breadcrumb-font-size * $line-height-base);
$breadcrumb-margin = 0;
$breadcrumb-padding-vertical = (($breadcrumb-height - $breadcrumb-line-height) / 2);
$breadcrumb-padding-horizontal = 0;
$breadcrumb-color = $gray-dark;
$breadcrumb-active-color = $text-color;
$breadcrumb-separator = "›";
