// @stylint off
@import url("~xterm/lib/xterm.css");
// @stylint on

.xterm.terminal {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: #000;
    color: #fff;

    > .xterm-viewport {
        position: relative;
    }
}
