:global {
    #nav-dropdown-user,
    #nav-dropdown-menu {
        padding: 14px 8px;

        .fa {
            font-size: 20px;
        }
    }
}

.btn-icon {
    color: #444;
    &:hover,
    &:focus {
        color: #222;
    }
}

.nav-dropdown-toggle {
  &&& {
    min-width: 0;
    padding: 0;
    color: #666;

    &:hover > * {
      color: #fff;
    }
  }
}

.quick-access-toolbar {
    margin: 10px 0 10px 15px;

    @media (min-width: 768px) {
        float: right;
    }

    :global {
        .btn-group {
            float: left;
            margin-right: 10px;
        }
        .btn {
            height: 30px;
        }

        // Remove the outline on buttons
        button:focus {
            outline: 0;
        }
    }
}
