@import "../reset-context";

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .date-input > input {
        height: 32px;
    }
}

.date-input-container {
    reset-context();
    position: relative;
}

.date-input {
    width: 120px;

    > input {
        display: block;
        width: 100%;
        height: auto;
        line-height: inherit;
        padding: 5px 12px;
        padding-left: 30px;
        font-size: 13px;
        color: #222222;
        border: 1px solid #ccc;
        border-radius: 3px;
        outline: none;

        &:focus {
            border-color: #0096cc;
        }
    }
}

.date-input-icon {
    position: absolute;
    left: 9px;
    top: 8px;
    color: #666;
    width: 14px;
    height: 14px;
}
