[data-component="Widgets/ProbeWidget"] {
    .widget-content {
        padding: 10px;

        [class*="col-"]:nth-child(odd) {
            padding-right: 10px;
        }
        [class*="col-"]:nth-child(even) {
            padding-left: 10px;
        }
    }
}
