[data-component="Widgets/ProbeWidget"] {
    .widget-content {
        position: relative;
        padding: 10px;

        .toolbar-button {
            position: absolute;
            top: 5px;
            right: 10px;
        }

        .Select {
            margin-bottom: 5px;
        }
        .Select.sm {
            .Select-control {
                height: 30px;
                border-radius: 3px;
            }
            .Select-placeholder {
                line-height: 28px;
            }
            .Select-value {
                padding: 6px 52px 6px 10px;
            }   
            .Select-input {
                height: 28px;
            }
        }
        
        .row.probe-controls {
            [class*="col-"]:nth-child(odd) {
                padding-right: 10px;
            }
            [class*="col-"]:nth-child(even) {
                padding-left: 10px;
            }
        }

    }
}
