@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
    display: inline-block;
}

.loader {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-indent: -9999em;
    vertical-align: top;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-left-color: rgba(0, 0, 0, 0.8);
    transform: translateZ(0);
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    width: 32px;
    height: 32px;

    &.small {
        width: 16px;
        height: 16px;
    }

    &.medium {
        width: 32px;
        height: 32px;
    }

    &.large {
        width: 56px;
        height: 56px;
    }
}

.loader-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: wait;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    > .loader.small {
        top: 50%;
        left: 50%;
        margin-top: -8px;
        margin-left: -8px;
    }

    > .loader.medium {
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: -16px;
    }

    > .loader.large {
        top: 50%;
        left: 50%;
        margin-top: -28px;
        margin-left: -28px;
    }
}

