@import "clearfix";

/**
 * Container
 */
.flexbox-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.floats-container {
    clearfix();
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

/**
 * Row
 */
.floats-row {
    clearfix();
}

.flexbox-row {
    display: flex;
    flex-wrap: wrap;
}

/**
 * Col
 */
.floats-col {
    clearfix();
    float: left;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.flexbox-col {
    position: relative;
    width: 100%;
    min-height: 1px;
}
