/**
 * Container
 */

.table-container {
    display: table;
}

.floats-container {
    clearfix();

    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.flexbox-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Row
 */
.table-row {
    display: table-row;
}

.floats-row {
    clearfix();
}

.flexbox-row {
    display: flex;
    flex-wrap: wrap;
}

/**
 * Col
 */
.table-col {
    display: table-cell;
}

.floats-col {
    clearfix();
    float: left;

    position: relative;
    width: 100%;
    min-height: 1px;
}

.flexbox-col {
    position: relative;
    width: 100%;
    min-height: 1px;
}
