@import "reset-context";

.control-radio {
    reset-context();

    cursor: pointer;
    position: relative;

    &.disabled {
        opacity: .4;
        cursor: not-allowed;
    }

    .control-indicator {
        pointer-events: none;
    }
}

.control-radio + .control-radio {
    margin-left: 16px;
}

.input-radio {
    display: none;
}

.input-radio + .control-indicator::before {
    content: "";
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #999999;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 3px;
    width: 14px;
    height: 14px;
    vertical-align: top;
}


// Radio button checked
.input-radio:checked + .control-indicator::before {
    border: 1px solid #0096cc;
    background-color: #0096cc;
    transition: background-color .2s;
}

.input-radio:checked + .control-indicator::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 7px;
    height: 6px;
    width: 6px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color .2s;
}

// Hover
.control-radio:not(.disabled):hover > .control-indicator::before {
    border: 1px solid #0096cc;
}

// Checked:hover
.control-radio:not(.disabled):hover > .input-radio:checked + .control-indicator::before {
    border: 1px solid #33ABD6;
    background-color: #33ABD6;
}

// Disabled
.input-radio:not(:checked):disabled {
    cursor: not-allowed;

    + .control-indicator::before {
        border: 1px solid #999999;
        background-color: #dddddd;
    }
}
