@import "reset-context";
@import "visually-hidden";

.control-radio {
    reset-context();

    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    &.disabled {
        opacity: .4;
        cursor: not-allowed;
    }

    .control-indicator {
        position: relative;
        display: flex;
        align-items: center;
        pointer-events: none;
        // XXX: due to IE11 issue, it needs min-width to prevent width compression
        min-width: 22px; // 14px + 8px = 22px
    }

    .text-label {  // deprecated
        display: inline-block;
    }
}

.input-radio {
    visually-hidden();
}

.input-radio + .control-indicator::before {
    content: "";
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #999999;
    border-radius: 50%;
    margin-right: 8px;
    width: 14px;
    height: 14px;
    vertical-align: top;
}

// Radio button checked
.input-radio:checked + .control-indicator::before {
    border: 1px solid #0096cc;
    background-color: #0096cc;
    transition: background-color .2s;
}

.input-radio:checked + .control-indicator::after {
    content: "";
    position: absolute;
    // XXX: due to IE11 issue, it needs to set top to correct position of ::after
    top: calc(50% - 3px);
    left: 4px; // 14px - 6px - 4px = 4px
    height: 6px;
    width: 6px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color .2s;
}

// Hover
.control-radio:not(.disabled):hover > .control-indicator::before {
    border: 1px solid #0096cc;
}

// Checked:hover
.control-radio:not(.disabled):hover > .input-radio:checked + .control-indicator::before {
    border: 1px solid #33ABD6;
    background-color: #33ABD6;
}

// Disabled
.input-radio:not(:checked):disabled {
    cursor: not-allowed;

    + .control-indicator::before {
        border: 1px solid #999999;
        background-color: #dddddd;
    }
}
