.widget-content {
    position: relative;
    padding: 8px 12px;

    &.hidden {
        display: none;
    }
}

.dro-display {
    border: 1px solid #ccc;
    text-align: right;
    padding: 5px 10px;
    height: 32px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

.dro-btn-group {
    margin-left: 5px;
}

.panel {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}
.panel-heading:hover {
    background-color: rgba(0, 0, 0, .05);
}
