{
    "extends": "trendmicro",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "../webpack.webconfig.base.js"
            }
        }
    },
    "rules": {
        "react/jsx-no-bind": [1, {
            allowArrowFunctions: true
        }]
    }
}
