[data-ns="widgets/probe"] {
    .widget-content {
        position: relative;
        padding: 10px;

        .probe-command-description {
            height: 30px;
        }
        .row.probe-options {
            [class*="col-"]:nth-child(odd) {
                padding-right: 10px;
            }
            [class*="col-"]:nth-child(even) {
                padding-left: 10px;
            }
        }

    }
}
