$border-radius-base = 3px;
$cursor-disabled = not-allowed;
$btn-line-height = 18px;
$input-line-height = 20px;
$link-color = #0096cc;
$pagination-color = #222;
$pagination-bg = #fff;
$pagination-border = #ccc;
$pagination-hover-color = #222;
$pagination-hover-bg = #f4f4f4;
$pagination-hover-border = #999;
$pagination-active-color = #222;
$pagination-active-bg = #eee;
$pagination-active-border = #bbb;
$pagination-disabled-color = #222;
$pagination-disabled-bg = #fff;
$pagination-disabled-border = #ccc;
