.dashboard {
    position: absolute;
    top: 60px;
    left: 10px;
    right: 10px;
    bottom: 0;

    :global {
        .row {
            margin-bottom: 5px;
        }
        .row:last-child {
            margin-bottom: 0;
        }
    }

    .gcode-viewer {
        border: 1px solid #ccc;
        position: absolute;
        top: 138px;
        left: 10px;
        right: 10px;
        bottom: 43px;

        &.gcode-viewer-disabled {
            background-color: #f5f5f5;
        }

        .line {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .label {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: bold;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
            margin-right: 5px;
        }
        .label-default {
            background-color: #777;
        }
    }
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progressbar-label {
    color: #222;
    padding: 0 10px;
}
