@import "variables";

.select.form-control {
    &[size],
    &[multiple] {
        height: auto;
    }

    &:focus::-ms-value {
        // Suppress the nested default white text on blue background highlight given to
        // the selected option text when the (still closed) <select> receives focus
        // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
        // match the appearance of the native widget.
        // See https://github.com/twbs/bootstrap/issues/19398.
        color: $input-color;
        background-color: $input-background-color;
    }
}

.select.form-control-sm {
    &:not([size]):not([multiple]) {
        height: $input-height-sm;
    }
}

.select.form-control-lg {
    &:not([size]):not([multiple]) {
        height: $input-height-lg;
    }
}
