$enable-rounded = true;
$enable-shadows = false;
$enable-transitions = true;

$primary = #007bff;
$white = #fff;
$gray-100 = #f8f9fa;
$gray-200 = #e9ecef;
$gray-300 = #dee2e6;
$gray-400 = #ced4da;
$gray-500 = #adb5bd;
$gray-600 = #6c757d;
$gray-700 = #495057;
$gray-800 = #343a40;
$gray-900 = #212529;
$black = #000;

$body-color = $gray-900;

$font-size-base = 1rem; // Assumes the browser default, typically `16px`
$font-size-sm = $font-size-base * .875;
$font-size-lg = $font-size-base * 1.25;
$font-weight-base = 400;
$line-height-base = 1.5;
$line-height-lg = 1.5;
$line-height-sm = 1.5;
$border-width = 1px;
$border-color = $gray-300;
$border-radius = .25rem;
$border-radius-lg = .3rem;
$border-radius-sm = .2rem;

$input-btn-padding-y = .375rem;
$input-btn-padding-x = .75rem;
$input-btn-font-size = $font-size-base;
$input-btn-line-height = $line-height-base;

$input-btn-focus-width = .2rem;
$input-btn-focus-color = rgba($primary, .25);
$input-btn-focus-box-shadow = 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y-sm = .25rem;
$input-btn-padding-x-sm = .5rem;
$input-btn-font-size-sm = $font-size-sm;
$input-btn-line-height-sm = $line-height-sm;

$input-btn-padding-y-lg = .5rem;
$input-btn-padding-x-lg = 1rem;
$input-btn-font-size-lg = $font-size-lg;
$input-btn-line-height-lg = $line-height-lg;

$input-btn-border-width = $border-width;

// Forms

$input-padding-y = $input-btn-padding-y;
$input-padding-x = $input-btn-padding-x;
$input-font-size = $input-btn-font-size;
$input-font-weight = $font-weight-base;
$input-line-height = $input-btn-line-height;

$input-padding-y-sm = $input-btn-padding-y-sm;
$input-padding-x-sm = $input-btn-padding-x-sm;
$input-font-size-sm = $input-btn-font-size-sm;
$input-line-height-sm = $input-btn-line-height-sm;

$input-padding-y-lg = $input-btn-padding-y-lg;
$input-padding-x-lg = $input-btn-padding-x-lg;
$input-font-size-lg = $input-btn-font-size-lg;
$input-line-height-lg = $input-btn-line-height-lg;

$input-background-color = $white;
$input-disabled-background-color = $gray-200;

$input-color = $gray-700;
$input-border-color = $gray-400;
$input-border-width = $input-btn-border-width;
$input-box-shadow = inset 0 1px 1px rgba($black, .075);

$input-border-radius = $border-radius;
$input-border-radius-lg = $border-radius-lg;
$input-border-radius-sm = $border-radius-sm;

$input-focus-background-color = $input-background-color;
$input-focus-border-color = lighten($primary, 25%);
$input-focus-color = $input-color;
$input-focus-width = $input-btn-focus-width;
$input-focus-box-shadow = $input-btn-focus-box-shadow;

$input-placeholder-color = $gray-600;
$input-plaintext-color = $body-color;

$input-height-border = $input-border-width * 2;

$input-height-inner = ($input-btn-font-size * $input-btn-line-height) + ($input-btn-padding-y * 2);
$input-height = "calc(%s + %s)" % ($input-height-inner $input-height-border);

$input-height-inner-sm = ($input-btn-font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2);
$input-height-sm = "calc(%s + %s)" % ($input-height-inner-sm $input-height-border);

$input-height-inner-lg = ($input-btn-font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2);
$input-height-lg = "calc(%s + %s)" % ($input-height-inner-lg $input-height-border);

$input-transition = border-color .15s ease-in-out, box-shadow .15s ease-in-out;
