.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.console-input {
    margin-bottom: 10px;
}

.console-window {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: #000;
    color: #FFF;

    :global {
        .infinite-list-item {
            white-space: nowrap;
            height: 20px;
            text-overflow: ellipsis;
            overflow-x: hidden;
        }
    }
}
