.widget-header {
    padding: 4px 8px;

    .controller-type {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin-right: 10px;
        padding: 2px 0;
    }
    .controller-state {
        display: none;
        color: #222;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #e3e3e3;
        border-radius: 3px;
        min-width: 50px;
        padding: 1px 10px;
        text-align: center;

        &.controller-state-default {
            display: inline-block;
            color: #222;
            background-color: #fff;
            border: 1px solid #e3e3e3;
        }
        &.controller-state-primary {
            display: inline-block;
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }
        &.controller-state-success {
            display: inline-block;
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }
        &.controller-state-info {
            display: inline-block;
            color: #fff;
            background-color: #5bc0de;
            border-color: #46b8da;
        }
        &.controller-state-warning {
            display: inline-block;
            color: #fff;
            background-color: #f0ad4e;
            border-color: #eea236;
        }
        &.controller-state-danger {
            display: inline-block;
            color: #fff;
            background-color: #d9534f;
            border-color: #d43f3a;
        }
    }
}

.widget-content {
    position: relative;
}

.toolbar {
    position: absolute;
    top: 10px;
    left: 10px;

    :global {
        .btn-group {
            background-color: #fff;
        }
    }
}

.joystick {
    position: absolute;
    top: 5px;
    right: 5px;
    width: (18 * 3)px;
    height: 18px;

    .joystick-button {
        background: transparent;
        border: none;
        color: #777;
        text-align: center;
        padding: 0;

        &:hover,
        &:focus,
        &:active {
            outline: none;
            cursor: pointer;
            color: #333;
        }
        &:active {
            text-shadow: 0 1px #ccc;
        }
    }
    .joystick-button[disabled] {
        cursor: not-allowed;
        color: #777;
    }
}

.loader {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    .loaderIcon {
        > * {
            font-size: 48px;
        }
    }

    .loaderText {
        margin: 15px 0 10px 0;
    }
}

.dashboard {
    position: absolute;
    top: 60px;
    left: 10px;
    right: 10px;

    :global {
        .row {
            margin-bottom: 5px;
        }
        .row:last-child {
            margin-bottom: 0;
        }
    }
}

.text-gray {
    color: #767676;
}

.divider {
    border: 0;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}

.progressbar-label {
    color: #222;
    padding: 0 10px;
}
