.btn-icon {
    display: inline-block;
    padding: 8px 8px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    background-color: inherit;
    border: 0;
    color: inherit;

    &:hover {
        background-color: #e6e6e6;
    }

    &:hover,
    &:focus,
    &:active {
        outline: 0;
        color: #333;
        text-decoration: none;
    }

    filter: invert(40%);

    &:hover {
        filter: invert(0%);
    }
}

.btn-icon + .btn-icon {
    margin-left: 0;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;

    &.icon-zoom-in {
        background: url("./images/zoom-in.svg") no-repeat 0 0;
    }
    &.icon-zoom-out {
        background: url("./images/zoom-out.svg") no-repeat 0 0;
    }
    &.icon-move {
        background: url("./images/move.svg") no-repeat 0 0;
    }
    &.icon-rotate {
        background: url("./images/rotate-object.svg") no-repeat 0 0;
    }
    &.icon-focus-center {
        background: url("./images/focus.svg") no-repeat 0 0;
    }
}
