:global {
    [data-ns="widgets/spindle"] {
        .widget-content {
            position: relative;
            padding: 10px;

            .horizontal-mirror {
                transform: scale(-1, 1);
            }
        }
    }
}
