th {
    font-weight: normal;
}
label {
    font-weight: normal;
}
.dropdown-menu > li > a:focus {
    outline: none;
}
.dropdown-header {
    font-weight: bold;
}

table thead > tr > th,
table tbody > tr > td {
    text-align: left;
    padding: 2px 4px;
}
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-bottom-width: 1px;
}

.input-group-xs .form-control,
.input-group-xs .input-group-addon,
.input-group-xs .input-group-btn .btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.row.no-gutter [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default.btn-select {
    color: #fff;
    background-color: #404040;
    border-color: #383838;
}
.btn-default.btn-select:focus,
.btn-default.btn-select.focus {
    color: #fff;
    background-color: #404040;
    border-color: #383838;
}
.btn-default.btn-select:hover {
    color: #fff;
    background-color: #404040;
    border-color: #383838;
}
