@import url("../vendor/normalize-css/normalize.css");

// [Ionicons](https://github.com/driftyco/ionicons)
@import url("../vendor/ionicons/css/ionicons.css");

@import url("../vendor/bootstrap/dist/css/bootstrap.css");

// react-select
@import url("../../node_modules/react-select/dist/default.css");

// fixed-data-table
@import url("../../node_modules/fixed-data-table/dist/fixed-data-table.css");

// Override react-select
.Select-control {
    border-radius: 3px;
    height: 30px;
    padding: 0 52px 0 10px;
}
.Select-placeholder,
.Select-value {
    padding: 0 52px 0 10px;
    height: 30px;
    line-height: 30px;
}
