@import url("../vendor/normalize-css/normalize.css");

// [Ionicons](https://github.com/driftyco/ionicons)
@import url("../vendor/ionicons/css/ionicons.css");

@import url("../vendor/bootstrap/dist/css/bootstrap.css");

// react-select
@import url("../../node_modules/react-select/dist/default.css");

// fixed-data-table
@import url("../../node_modules/fixed-data-table/dist/fixed-data-table.css");

//
// bootstrap
//

// http://stackoverflow.com/questions/22920589/bootstrap-3-input-xs-smaller-than-sm
.input-group-xs .form-control,
.input-group-xs .input-group-addon,
.input-group-xs .input-group-btn .btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

// Bootstrap No-Gutter Grid
.row.no-gutter{
    margin-right: 0;
    margin-left: 0;
            
    [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

//
// react-select
//

.Select-control {
    border-radius: 3px;
    height: 30px;
    padding: 0 52px 0 10px;
}
.Select-placeholder,
.Select-value {
    padding: 0 52px 0 10px;
    height: 30px;
    line-height: 30px;
}
