@import url("../vendor/normalize-css/normalize.css");

@import url("../vendor/bootstrap/dist/css/bootstrap.css");

// react-select
@import url("../../node_modules/react-select/dist/react-select.css");

// fixed-data-table
@import url("../../node_modules/fixed-data-table/dist/fixed-data-table.css");
