@import "display-panel";
@import "rotate";
@import "keypad";

.widget-content {
    position: relative;
    padding: 8px 12px;

    &.hidden {
        display: none;
    }
}

.row-space {
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}
.col-space {
    margin-right: 5px;
}
