[data-component="Widgets/VisualizerWidget"] {

    .widget-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .btn-toolbar {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 102;
            background-color: #f0f0f0;
        }

        .joystick {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 102;

            .joystick-button {
                cursor: pointer;
                font-size: 14px;
                color: #777;

                &:hover,
                &:focus {
                    color: #333;
                }
                &:active {
                    color: #333;
                    text-shadow: 0 1px #ccc;
                }
            }
        }

        .preview {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 0;
        }
    }
}
