@import "variables";

.sidebar {
    background-color: $sidebar-background-color;
    position: fixed;
    top: $navbar-height;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    z-index: 1000;
}

.main {
    position: absolute;
    top: $navbar-height;
    left: $sidebar-width;
    right: 0;
    bottom: 0;
    background-color: $content-background-color;
    min-width: $content-min-width;
}

.content {
    position: relative;
    background-color: $content-background-color;
}

.skipLink {
    position: absolute;
    top: -100px;
    left: 0;
    background: #fff;
    color: #000;
    padding: 8px;
    z-index: 2000;

    &:focus {
        top: 0;
    }
}
