[data-component="Widgets/SpindleWidget"] {
    .widget-content {
        position: relative;
        padding: 5px 10px 10px 10px;

        .horizontal-mirror {
            transform: scale(-1, 1);
        }
    }
}
