.widget[data-ns="widget"] {
    // default
    .widget-header,
    .widget-footer {
        border-color: #ccc;
        background-color: #fafafa;
        color: #333;
    }
    .widget-controls {
        a { color: #838383; }
        a:hover { color: #505050; }
    }

    // lightblue
    &.widget-color-lightblue {
        .widget-header,
        .widget-footer {
            border-color: #a0aeb3;
            background: #cbd2d5;
            color: #000;
        }
        .widget-controls {
            a { color: #ddd; }
            a:hover { color: #fff; }
        }
    }

    // night
    &.widget-color-night {
        .widget-header,
        .widget-footer {
            border-color: #383838;
            background: #404040;
            color: #fff;
        }
        .widget-controls {
            a { color: #ddd; }
            a:hover { color: #fff; }
        }
    }

    // nightsky
    &.widget-color-nightsky {
        .widget-header,
        .widget-footer {
            border-color: #45474b;
            background-color: #4c4f53;
            color: #fff;
        }
        .widget-controls {
            a { color: #ddd; }
            a:hover { color: #fff; }
        }
    }

    // teal
    &.widget-color-teal {
        .widget-header,
        .widget-footer {
            border-color: #508180;
            background: #568a89;
            color: #fff;
        }
        .widget-controls {
            a { color: #ddd; }
            a:hover { color: #fff; }
        }
    }
}
