[data-component="Widgets/GCodeWidget"] {
    padding: 10px;

    .btn-toolbar {
        margin-bottom: 5px;
    }

    .gcode-table {
        .public_fixedDataTable_topShadow {
            background: none;
        }
        .public_fixedDataTable_bottomShadow {
            background: none;
        }
        .public_fixedDataTable_header {
            border: none;
        }
    }

    .gcode-table + .gcode-stats {
        border-top: none;
    }

    .gcode-stats {
        border: 1px solid #ddd;
        padding: 5px;

        .row:nth-child(even) {
            margin-bottom: 10px;
        }
        .row:last-child {
            margin-bottom: 0;
        }
    }
}
