@import "reset-context";

.date-picker-container {
    reset-context();

    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0 5px;

    position: relative;
    display: inline-block;

    :global {
        @import "react-datepicker";
    }
}
