.btn-lg,
.btn-group-lg > .btn {
    padding: 9px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 3px;

    &.btn-compact {
        padding-left: 0;
        padding-right: 0;
        min-width: 58px;
    }
}

.btn-md,
.btn-group-md > .btn {
    padding: 5px 12px;
    font-size: 13px;
    line-height: 20px;
    border-radius: 3px;

    &.btn-compact {
        padding-left: 0;
        padding-right: 0;
        min-width: 42px;
    }
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 4px 12px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;

    &.btn-compact {
        padding-left: 0;
        padding-right: 0;
        min-width: 36px;
    }
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 12px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;

    &.btn-compact {
        padding-left: 0;
        padding-right: 0;
        min-width: 28px;
    }
}
