.btn-block {
    display: block;
    width: 100%;

    // Vertically space out multiple block buttons
    &.btn + &.btn,
    + .btn-block {
        margin-left: 0;
        margin-top: 8px;
    }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}
