.btn-lg.btn {
    :global {
        & i.svg,
        & span.svg {
            width: 24px;
            height: 24px;
        }
    }
}

.btn {
    :global {
        & i.svg,
        & span.svg {
            width: 16px;
            height: 16px;
        }
    }
}

.btn-sm.btn,
.btn-xs.btn {
    :global {
        & i.svg,
        & span.svg {
            width: 12px;
            height: 12px;
        }
    }
}
