.btn {
    &.btn-compact {
        :global {
            .fa {
                margin-right: 0;
            }
        }
    }

    :global {
        & .fa {
            font-size: 14px;
            margin-right: 8px;
        }
        & i.fa,
        & span.fa {
            font-size: 14px;
            color: #666;
        }
    }
}

.btn-primary,
.btn-danger {
    :global {
        & i.fa,
        & span.fa {
            color: inherit;
        }
    }
}

.btn-lg.btn,
.btn-sm.btn,
.btn-xs.btn {
    :global {
        & i.fa,
        & span.fa {
            font-size: inherit;
        }
    }
}
