.btn-default {
    color: #222;
    background-color: #fbfbfb;
    background-image: linear-gradient(to bottom, #fbfbfb 0%, #ececec 100%);
    background-repeat: repeat-x;
    border-color: #ccc;

    &:active,
    &.active {
        color: #222;
        background-color: #eee;
        background-image: none;
        border-color: #bbb;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .1) inset;
    }

    &:focus,
    &.focus {
        color: #222;
        border-color: #0096cc;
    }

    &:hover,
    &.hover {
        color: #222;
        background-color: #fff;
        background-image: linear-gradient(to bottom, #fff 0%, #f5f5f5 100%);
        background-repeat: repeat-x;
        border-color: #999;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &.hover,
        &:focus,
        &.focus {
            background-color: #fbfbfb;
            background-image: linear-gradient(to bottom, #fbfbfb 0%, #ececec 100%);
            background-repeat: repeat-x;
            border-color: #ccc;
        }
    }
}

.btn-primary {
    color: #fff;
    background-color: #0096cc;
    background-image: linear-gradient(to bottom, #00a7e6 0%, #0096cc 100%);
    background-repeat: repeat-x;
    border-color: #0095ce;

    // Loading class within a primary button
    > [class*="loader-container"] > [class*="loader"] {
        border-color: rgba(255, 255, 255, 0.4);
        border-left-color: #fff;
    }

    &:active,
    &.active {
        color: #fff;
        background-color: #009ed8;
        background-image: none;
        border-color: #00759f;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .15) inset;
    }

    &:focus,
    &.focus {
        color: #fff;
        border-color: #444;
        box-shadow: 0 0 1px #fff inset;
    }

    &:hover,
    &.hover {
        color: #fff;
        background-color: #1daee5;
        background-image: linear-gradient(to bottom, #1daee5 0%, #00a3df 100%);
        background-repeat: repeat-x;
        border-color: #00759f;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &.hover,
        &:focus,
        &.focus {
            background-color: #0096cc;
            background-image: linear-gradient(to bottom, #00a7e6 0%, #0096cc 100%);
            background-repeat: repeat-x;
            border-color: #0095ce;
        }
    }
}

.btn-danger {
    color: #fff;
    background-color: #db3d44;
    background-image: linear-gradient(to bottom, #e15054 0%, #db3d44 100%);
    background-repeat: repeat-x;
    border-color: #d8262b;

    &:active,
    &.active {
        color: #fff;
        background-color: #e15054;
        background-image: none;
        border-color: #c22327;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .15) inset;
    }

    &:focus,
    &.focus {
        color: #fff;
        border-color: #444;
        box-shadow: 0 0 1px #fff inset;
    }

    &:hover,
    &.hover {
        color: #fff;
        background-color: #e15f5f;
        background-image: linear-gradient(to bottom, #e15f5f 0%, #e15054 100%);
        background-repeat: repeat-x;
        border-color: #c22327;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &.hover,
        &:focus,
        &.focus {
            background-color: #db3d44;
            background-image: linear-gradient(to bottom, #e15054 0%, #db3d44 100%);
            background-repeat: repeat-x;
            border-color: #d8262b;
        }
    }
}

.btn-border {
    color: #222;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-repeat: repeat-x;
    border-color: #ccc;
    transition: all .2s linear 0s

    &:hover,
    &.hover {
        color: #222;
        background-color: #f4f4f4;
        background-image: linear-gradient(to bottom, #f4f4f4 0%, #f4f4f4 100%);
        background-repeat: repeat-x;
        border-color: #999;
    }

    &:focus,
    &.focus {
        color: #222;
        border-color: #0096cc;
    }

    &:active,
    &.active,
    .open > .dropdown-toggle& {
        color: #222;
        background-color: #eee;
        background-image: none;
        border-color: #bbb;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;

        &:hover,
        &.hover,
        &:focus,
        &.focus {
            color: #222222;
            border-color: #bbbbbb;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
        }
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        opacity: 0.4;
        cursor: not-allowed;

        &:hover,
        &.hover,
        &:focus,
        &.focus {
            background-color: #fff;
            background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
            background-repeat: repeat-x;
            border-color: #ccc;
        }
    }
}

.btn-link {
    padding-right: 0;
    padding-left: 0;
    font-weight: normal;
    color: #0096cc;
    border-radius: 0;

    &,
    &:active,
    &.active,
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        box-shadow: none;
    }

    &,
    &:hover,
    &.hover,
    &:focus,
    &:active {
        border-color: transparent;
    }

    &:hover,
    &.hover,
    &:focus {
        color: #db3d44;
        text-decoration: underline;
        background-color: transparent;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &.hover,
        &:focus,
        &.focus {
            color: #e6e6e6;
            text-decoration: none;
        }
    }
}
