.dropdown-toggle {
    min-width: 0;
}
.dropdown-toggle.btn {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
}
.dropdown-toggle.btn-compact {
    text-align: center;
}
.dropdown-toggle.btn-link {
    color: #222222;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
}
.dropdown-toggle.btn-link:hover,
.dropdown-toggle.btn-link:hover > * {
    color: #0096cc;
}
.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
    min-width: 0;
}
.btn-group > .btn-lg + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
}
