$padding-tb = 16px;
$padding-lr = 24px;
$padding-r = 56px; // hasCloseButton
$modal-xs-width = 400px;
$modal-xs-min-width = 400px;
$modal-xs-max-width = 543px;
$modal-xs-min-height = 240px;
$modal-sm-width = 544px;
$modal-sm-min-width = 544px;
$modal-sm-max-width = 687px;
$modal-sm-min-height = 302px;
$modal-md-width = 688px;
$modal-md-min-width = 688px;
$modal-md-max-width = 927px;
$modal-md-min-height = $modal-sm-min-height;
$modal-lg-width = 928px;
$modal-lg-min-width = 928px;
$modal-lg-min-height = $modal-sm-min-height;
$modal-header-height = 54px;
$modal-footer-height = 56px;
$modal-footer-button-margin = 8px;
