[data-component="Header"] {
    .grbl-quick-access-toolbar {
        margin: 10px 0;

        [class^="glyphicon-"]:before,
        [class*=" glyphicon-"]:before,
        [class^="ion-"]:before,
        [class*=" ion-"]:before {
            font-size: 14px;
        }
        .glyphicon-reset {
            transform: scaleX(-1);
            &:before {
                content: "\e030";
            }
        }

        .btn-group {
            margin-right: 10px;
        }
        .btn-group:last-child {
            margin-right: 0;
        }

        // Remove the outline on buttons
        button:focus {
            outline: none;
        }
    }
}
