button + button {
    margin-left: 5px;
}

.learnmore {
    color: #0060AC;
    font-size: 14px;

    > * {
        vertical-align: middle;
    }
}

.label {
    display: inline-block;
    color: #0060AC;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    border-color: #8daed9;
    padding: 4px 8px;
}

.aboutContainer {
    margin-top: 0;
    align-items: center;
    display: flex;

    .productLogo {
        width: 96px;
    }

    .productDetails {
        margin-left: 10px;

        .aboutProductName {
            font-size: 18px;
        }
        .aboutProductDescription {
            margin-bottom: 10px;
        }
    }
}

.helpContainer {
    margin-top: 16px;
    margin-bottom: 32px;
}

.updateStatusContainer {
    margin-bottom: 16px;
    position: relative;

    .updateStatusIcon {
        position: absolute;
        left: 0;
        height: 18px;
        width: 18px;

        > * {
            font-size: 18px;
            vertical-align: top;
        }

        &.info {
            color: #4078c0;
        }
        &.warning {
            color: #f0ad4e;
        }
    }

    .updateStatusMessageContainer {
        display: inline-block;
        position: relative;
        padding-left: 26px;
    }

    .updateStatusMessage {
        color: #222;
    }
    .releaseLatest {
        color: #767676;
    }

    .updateStatusActionContainer {
        display: inline-block;
        vertical-align: top;
        margin-left: 40px;
    }
}
