.nav-tabs.nav-justified {
    border: none;
    width: 100%;

    > li {
        float: none;
        display: table-cell;
        width: 1%;
        margin: 0;
    }

    > li + li > a,
    > li + li > a:focus,
    > li + li > a:hover {
        border-left: 0;
    }
}
