.nav-light-tabs.nav-stacked {
    > li {
        float: none;
    }
    > li > a {
        background: inherit;
        border: none;
        padding: 9px 16px;
    }
    > li > a:hover,
    > li > a:focus {
        background: #f4f4f4;
    }
    > li + li {
        margin-top: 1px;
        margin-left: 0;
    }
    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus {
        background-color: inherit;
        border: none;
        color: #db3d44;
        font-weight: bold;
        padding: 9px 16px;
    }
}
