.quick-access-toolbar {
    margin: 10px 0 10px 15px;

    @media (min-width: 768px) {
        float: right;
    }

    :global {
        .btn-group {
            float: left;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
        .btn {
            height: 30px;
        }

        // Remove the outline on buttons
        button:focus {
            outline: 0;
        }
    }
}
