.widgets {
    min-height: 240px; // Keep a minimum space for dropping widgets
    overflow-x: hidden;

    :global {
        // Class name for the chosen item
        .sortable-chosen {
            opacity: .8;
        }

        // Class name for the drop placeholder
        .sortable-ghost {
            opacity: .4;
        }
    }
}
