.widgets {
    min-height: 240px; // Keep a minimum space for dropping widgets

    :global {
        // Class name for the chosen item
        .sortable-chosen {
            > .widget {
                opacity: .8;
            }
        }
        // Class name for the drop placeholder
        .sortable-ghost {
            > .widget {
                opacity: .4;
            }
        }
    }
}
