//
// http://stackoverflow.com/questions/6410730/webkit-css-endless-rotation-animation-how
//
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rotating {
    animation: rotating 2s linear infinite;
}
