//
// http://stackoverflow.com/questions/6410730/webkit-css-endless-rotation-animation-how
//
@-webkit-keyframes rotate /* Safari and Chrome */ {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate-ccw /* Safari and Chrome */ {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate-ccw {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.rotate,
.rotate-cw {
    animation: rotate 2s linear infinite;
}
.rotate-ccw {
    animation: rotate-ccw 2s linear infinite;
}
