// Bootstrap Override
th {
    font-weight: normal;
}
label {
    font-weight: normal;
}

// Nav
.navbar-brand {
    text-decoration: none;
}
.nav > li > a {
    font-size: 14px;
    text-decoration: none;
}

// Tooltip
.tooltip-inner {
    max-width: 240px;
}

// font-size
.btn,
.dropdown-header,
.dropdown-menu,
.form-control {
    font-size: 13px;
}

// line-height
.btn-xs, .btn-group-xs > .btn,
.btn-sm, .btn-group-sm > .btn,
.btn-md, .btn-group-md > .btn,
.btn-lg, .btn-group-lg > .btn {
    line-height: 20px;
}
.checkbox label,
.radio label {
    line-height: 20px;
}

// table
table thead > tr > th,
table tbody > tr > td {
    text-align: left;
    padding: 2px 4px;
}

.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-bottom-width: 1px;
}

// http://stackoverflow.com/questions/22920589/bootstrap-3-input-xs-smaller-than-sm
.input-group-xs .form-control,
.input-group-xs .input-group-addon,
.input-group-xs .input-group-btn .btn {
    height: 20px;
    padding: 1px 5px;
    font-size: 13px;
}
