// @stylint off
@import url("~font-awesome/css/font-awesome.css");
// @stylint on

@-webkit-keyframes fa-spin-reverse /* Safari and Chrome */ {
    0% {
        transform: rotate(359deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes fa-spin-reverse {
    0% {
        transform: rotate(359deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.fa-spin-reverse {
    animation: fa-spin-reverse 2s infinite linear;
}
