// @stylint off
@import url("~font-awesome/css/font-awesome.css");
// @stylint on

.fa.fa-1 {
    font-size: 1em;
}
.fa.fa-2 {
    font-size: 2em;
}
.fa.fa-3 {
    font-size: 4em;
}
.fa.fa-4 {
    font-size: 8em;
}
.fa.fa-5 {
    font-size: 12em;
}
.fa.fa-6 {
    font-size: 20em;
}
