// @stylint off
@import url("~react-virtualized/styles.css");
// @stylint on

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
    margin-left: 0;
}

.ReactVirtualized__Grid {
    outline: 0;
}
