// Bootstrap Override
body {
    font-size: 12px;
}
th {
    font-weight: normal;
}
label {
    font-weight: normal;
}
.dropdown-menu {
    font-size: 12px;
}
.navbar-nav > li > a {
    font-size: 14px;
}
.dropdown-menu > li > a:focus {
    outline: 0;
}
.dropdown-header {
    font-weight: bold;
}

table thead > tr > th,
table tbody > tr > td {
    text-align: left;
    padding: 2px 4px;
}
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-bottom-width: 1px;
}

// Set the line-height to 20px due to the change of default font-size from 14px to 12px
.checkbox label,
.radio label {
    line-height: 20px;
}

// Vertical Spacing for Bootstrap Columns
// https://coderwall.com/p/0jezca/vertical-spacing-for-bootstrap-columns
.row {
    &.row-grid {
        [class*="col-"] + [class*="col-"] {
            margin-top: 15px;
        }

        @media (min-width: 1200px) {
            [class*="col-lg-"] + [class*="col-lg-"] {
                margin-top: 0;
            }
        }

        @media (min-width: 992px) {
            [class*="col-md-"] + [class*="col-md-"] {
                margin-top: 0;
            }
        }

        @media (min-width: 768px) {
            [class*="col-sm-"] + [class*="col-sm-"] {
                margin-top: 0;
            }
        }
    }
}

// http://stackoverflow.com/questions/22920589/bootstrap-3-input-xs-smaller-than-sm
.input-group-xs .form-control,
.input-group-xs .input-group-addon,
.input-group-xs .input-group-btn .btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

// Bootstrap No-Gutter Grid
.row.no-gutter{
    [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

// @stylint off

// To vertically align the modal
// https://github.com/react-bootstrap/react-bootstrap/issues/995
.modal-dialog.modal-vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%) !important;
}

// @stylint on

// Modal
.modal-header,
.modal-footer {
}
.modal-body {
    font-size: 14px;
}
.modal-body.nopadding {
    padding: 0;
}

// .btn-default.btn-select
.btn-default {
    &.btn-select {
        color: #fff;
        background-color: #404040;
        border-color: #383838;
    }
    &.btn-select:focus,
    &.btn-select.focus {
        color: #fff;
        background-color: #404040;
        border-color: #383838;
    }
    &.btn-select:hover {
        color: #fff;
        background-color: #404040;
        border-color: #383838;
    }
}
