// @stylint off

// Normalize CSS
@import url("~normalize.css/normalize.css");

// Bootstrap
@import url("~bootstrap/dist/css/bootstrap.css");

// rc-slider
@import url("~rc-slider/assets/index.css");

// react-select
@import url("~react-select/dist/react-select.css");

// fixed-data-table
@import url("~fixed-data-table/dist/fixed-data-table.css");

// @stylint on

// font-awesome
@import "font-awesome";

// rc-switch
@import "rc-switch";
