@import url("node_modules/normalize.css/normalize.css");

// Bootstrap
@import url("node_modules/bootstrap/dist/css/bootstrap.css");

// Font Awesome
@import url("node_modules/font-awesome/css/font-awesome.css");

// react-select
@import url("node_modules/react-select/dist/react-select.css");

// fixed-data-table
@import url("node_modules/fixed-data-table/dist/fixed-data-table.css");

// rc-switch
@import url("node_modules/rc-switch/assets/index.css");
.rc-switch {
    width: 60px;
}
.rc-switch:after {
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}
.rc-switch-inner {
    font-size: 75%;
    left: 20px;
    right: 5px;
    text-align: center;
}
.rc-switch-checked {
    border-width: 1px;
    border-style: solid;
    border-color: #435a8b #3c5488 #334c83;
    background-color: #4e69a2;
}
.rc-switch-checked:after {
    left: 38px;
}
.rc-switch-checked .rc-switch-inner {
    font-size: 75%;
    left: 5px;
    right: 20px;
    text-align: center;
}
.rc-switch-checked[disabled],
.rc-switch-checked.rc-switch-disabled {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
}
