@import url("node_modules/normalize.css/normalize.css");

// Bootstrap
@import url("node_modules/bootstrap/dist/css/bootstrap.css");

// Font Awesome
@import url("node_modules/font-awesome/css/font-awesome.css");

// react-select
@import url("node_modules/react-select/dist/react-select.css");

// fixed-data-table
@import url("node_modules/fixed-data-table/dist/fixed-data-table.css");

// rc-switch
@import url("node_modules/rc-switch/assets/index.css");
.rc-switch {
    width: 50px;
}
.rc-switch-checked {
    border: 1px solid #255691;
    background-color: #3276b1;
}
.rc-switch-checked:after {
    left: 28px;
}
.rc-switch-checked .rc-switch-inner {
    left: 7px;
}
.rc-switch-checked[disabled],
.rc-switch-checked.rc-switch-disabled {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
}
.rc-switch-inner {
    font-size: 80%;
}
