$icon-width = 16px;
$icon-height = 16px;
$padding = $icon-width + 8px;

$notification-left = 24px;
$notification-right = 16px;
$notification-top = 8px;
$notification-bottom = 8px;

$toast-notification-left = 16px;
$toast-notification-right = 12px;
$toast-notification-top = 8px;
$toast-notification-bottom = 8px;
