@import "../../styles/variables";

.workspace {
    .dropzone-overlay {
        position: fixed;
        top: $navbar-height;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: rgba(255, 255, 255, .5);
        border: 4px dashed #286090;
        text-align: center;
        pointer-events: none;

        .text-block {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #666;
            font-size: 32px;
        }
    }

}
