@import "display-panel";
@import "control-panel";
@import "rotate";
@import "keypad";

.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.row-space {
    margin-bottom: 5px;
    margin-right: -5px;
}
.col-space {
    margin-right: 5px;
}
