.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.toolbar-button {
    margin-bottom: 10px;
}

.row-space {
    margin-bottom: 5px;
}
.col-space {
    margin-right: 5px;
}

.rotate-45deg {
    transform: rotate(45deg);
    &:before {
        transform: rotate(45deg);
    }
}
.rotate--45deg {
    transform: rotate(-45deg);
    &:before {
        transform: rotate(-45deg);
    }
}
.rotate-90deg {
    transform: rotate(90deg);
    &:before {
        transform: rotate(90deg);
    }
}
.rotate--90deg {
    transform: rotate(-90deg);
    &:before {
        transform: rotate(-90deg);
    }
}

.display-panel {
    margin-bottom: 10px;

    .coordinate {
        text-align: center;
        font-size: 24px;
        padding: 0;
        width: 1%;
    }
    .machine-position,
    .work-position {
        padding: 5px 5px 15px 5px;
        text-align: right;
        white-space: nowrap;
        position: relative;
        width: 48%;

        .integer-part,
        .decimal-point,
        .fractional-part {
            font-size: 24px;
        }
        .integer-part {
            width: 90px;
            text-align: right;
        }
        .dimension-units {
            font-size: 12px;
            position: absolute;
            right: 5px;
            bottom: 0;
        }
    }
    .action {
        width: 1%;
        padding: 0 4px;
        text-align: center;
    }
}

.control-panel {
    margin: 0;
}

.jog-pad {
    button[class^="jog-"],
    button[class*=" jog-"] {
        font-size: 16px;
        padding: 0;
        min-width: 35px;
        width: 100%;
        line-height: 30px;
        text-align: center;
        vertical-align: middle;

        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        &:active {
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
            transform: translate(1px, 1px);
        }
    }

    .jog-direction-highlight {
        button[class^="jog-"],
        button[class*=" jog-"] {
            background-color: rgba(240, 240, 240, 0.8);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
            border-color: rgba(0, 0, 0, .3);

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }

            &:active,
            &.active {
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
                transform: translate(1px, 1px);
            }
        }

        .jog-text {
            font-weight: 500;
        }
    }
}

.motion-controls {
    :global {
        .btn,
        .btn-group {
            width: 100%;
        }
    }

    button {
        width: 100%;
        line-height: 30px;
        padding: 0 5px;
    }
}

.jog-distance-control {
    :global {
        .input-group {
            .input-group-btn:not(:first-child):not(:last-child) {
                .btn {
                    border-radius: 0;
                }
                .btn:last-child {
                    border-right: none;
                    margin-right: -1px;
                }
            }
        }
    }
}
