.rotate-45deg {
    transform: rotate(45deg);
    &:before {
        transform: rotate(45deg);
    }
}
.rotate--45deg {
    transform: rotate(-45deg);
    &:before {
        transform: rotate(-45deg);
    }
}
.rotate-90deg {
    transform: rotate(90deg);
    &:before {
        transform: rotate(90deg);
    }
}
.rotate--90deg {
    transform: rotate(-90deg);
    &:before {
        transform: rotate(-90deg);
    }
}
