.table {
    border: 1px solid #ddd;

    &.no-border {
        border: 0;
    }
}

.table-toolbar {
    position: relative;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;

    clearfix();
}

.space {
    display: inline-block;
    width: 8px;
}
