.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.no-data {
    color: #333;
    opacity: .65;
}

.text-ellipsis {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.well {
    min-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    margin-bottom: 0;
    padding: 0 5px;
}
