@import "variables";

.card-header {
    padding: $card-spacer-y $card-spacer-x;
    margin-bottom: 0;
    color: $card-cap-color;
    background-color: $card-cap-bg;
    border-bottom: $card-border-width solid $card-border-color;

    &:first-child {
        border-radius: $card-inner-border-radius $card-inner-border-radius 0 0;
    }
}
