@import "variables";

.card-footer {
    padding: $card-spacer-y $card-spacer-x;
    background-color: $card-cap-bg;
    border-top: $card-border-width solid $card-border-color;

    &:last-child {
        border-radius: 0 0 $card-inner-border-radius $card-inner-border-radius;
    }
}
