$white = #fff;
$black = #000;

$border-width = 1px;
$border-radius = .25rem;

$card-spacer-y = .75rem;
$card-spacer-x = 1.25rem;
$card-border-width = $border-width;
$card-border-radius = $border-radius;
$card-border-color = rgba($black, .125);
$card-inner-border-radius = calc($card-border-radius - $card-border-width);
$card-cap-bg = rgba($black, .03);
$card-cap-color = inherit;
$card-color = inherit;
$card-bg = $white;
