.modal {
    .modal-header {
        padding: 5px 17px;
        margin: 0 -1px;
        background-color: #333333;
        line-height: 22px;

        .close {
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: 0;

            -webkit-appearance: none;
            float: right;
            font-size: 30px;
            font-weight: normal;
            color: #999999;
            text-shadow: none;
            opacity: 1;
        }
    }

    .modal-title {
        margin: 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 200;
        height: 22px;
        line-height: 22px;
    }

    .modal-body {
        position: relative;
        padding: 16px;
        overflow-y: auto;
        color: #222222;
        background-color: #ffffff;
    }

    .modal-footer {
        padding: 7px 15px;
        margin-top: 0;
        text-align: right;
        background-color: #eeeeee;
        border-top: 1px solid #cccccc;

        button + button {
            margin-left: 5px;
        }
    }
}
