$padding-tb = 16px;
$padding-lr = 24px;
$modal-xs-min-width = 400px;
$modal-xs-max-width = 543px;
$modal-xs-min-height = 240px;
$modal-sm-min-width = 544px;
$modal-sm-max-width = 687px;
$modal-sm-min-height = 302px;
$modal-md-min-width = 688px;
$modal-md-max-width = 927px;
$modal-md-min-height = $modal-sm-min-height;
$modal-lg-min-width = 928px;
$modal-lg-min-height = $modal-sm-min-height;
$modal-header-height = 54px;
$modal-footer-height = 56px;
$modal-footer-button-margin = 8px;

.modal {
    min-width: $modal-xs-min-width;

    &.xs {
        min-width: $modal-xs-min-width;
        max-width: $modal-xs-max-width;
        .modal-body {
            min-height: ($modal-xs-min-height - $modal-footer-height)px;
        }
        .modal-header + .modal-body {
            min-height: ($modal-xs-min-height - $modal-header-height - $modal-footer-height)px;
        }
    }
    &.sm {
        min-width: $modal-sm-min-width;
        max-width: $modal-sm-max-width;
        .modal-body {
            min-height: ($modal-sm-min-height - $modal-footer-height)px;
        }
        .modal-header + .modal-body {
            min-height: ($modal-sm-min-height - $modal-header-height - $modal-footer-height)px;
        }
    }
    &.md {
        min-width: $modal-md-min-width;
        max-width: $modal-md-max-width;
        .modal-body {
            min-height: ($modal-md-min-height - $modal-footer-height)px;
        }
        .modal-header + .modal-body {
            min-height: ($modal-md-min-height - $modal-header-height - $modal-footer-height)px;
        }
    }
    &.lg {
        min-width: $modal-lg-min-width;
        .modal-body {
            min-height: ($modal-lg-min-height - $modal-footer-height)px;
        }
        .modal-header + .modal-body {
            min-height: ($modal-lg-min-height - $modal-header-height - $modal-footer-height)px;
        }
    }

    .close {
        position: absolute;
        top: $padding-tb;
        right: $padding-lr;
        padding: 0;
        margin: 0;
        line-height: 20px;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        font-size: 30px;
        font-weight: normal;
        color: #999999;
        text-shadow: none;
        opacity: 1;
    }

    .modal-header {
        height: $modal-header-height;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        padding: 0;

        &.padding {
            padding: $padding-tb $padding-lr;
        }
    }

    .modal-title {
        font-weight: 200;
        color: #222;
        letter-spacing: -.02em;
        font-size: 18px;
    }

    .modal-body {
        position: relative;
        overflow-y: auto;
        padding: 0;

        &.padding {
            padding: $modal-header-height $padding-lr $padding-tb $padding-lr;
        }
    }
    .modal-header + .modal-body.padding {
        padding: $padding-tb $padding-lr;
    }

    .modal-footer {
        height: $modal-footer-height;
        margin-top: 0;
        text-align: right;
        background-color: #eee;
        padding: 0;

        &.padding {
            padding: 12px $padding-lr;
        }

        button {
            min-width: 80px;
        }

        button + button {
            margin-left: $modal-footer-button-margin;
        }
    }
}
