.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.gcode-stats {
    table[data-table="dimension"] {
        width: 100%;

        thead > tr > th.axis,
        tbody > tr > td.axis {
            width: 1%;
        }
        tbody > tr > td {
            text-align: right;
            &.axis {
                text-align: center;
            }
        }
    }

    :global {
        .row:nth-child(odd) {
            margin-bottom: 10px;
        }
        .row:last-child {
            margin-bottom: 0;
        }
    }
}

.gcode-table {
    border: 1px solid #ccc;

    .gcode-table-cell-status {
        line-height: 30px;
        margin-left: 0;
        border-right: 1px solid #ddd;
        text-align: center;
    }
    .gcode-table-cell-command {
        line-height: 30px;
        margin-left: 0;
    }
}
