.toggler {
    color: inherit;

    &:hover,
    &:focus {
        color: inherit;

        .toggler-icon {
            color: #505050;
        }
    }

    .toggler-icon {
        color: #838383;
    }
}
