.progress {
    display: flex;
    height: $progress-height;
    overflow: hidden; // force rounded corners by cropping it
    font-size: $progress-font-size;
    background-color: $progress-background-color;
    border-radius: $progress-border-radius;
}
