.widget-content {
    position: relative;

    &.hidden {
        display: none;
    }
    &.fullscreen {
    }

    .inactive-content {
        padding: 8px 12px;
        color: #333;
        opacity: .65;
    }
}
