.widget-content {
    position: relative;
    padding: 8px 12px;

    &.hidden {
        display: none;
    }
}

.gcode-stats {
    table[data-table="dimension"] {
        width: 100%;

        thead > tr > th.axis,
        tbody > tr > td.axis {
            width: 1%;
            white-space: nowrap;
        }
        tbody > tr > td {
            text-align: right;
            &.axis {
                text-align: center;
            }
        }
    }
}
