@import "reset-context";

.switch {
    reset-context();

    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    margin: 0 8px 0 0;
    vertical-align: middle;
}
.switch-sm {
    width: 32px;
    height: 16px;
}
.switch input {
    display: none;
}
.toggle.disabled {
    opacity: .4;
    cursor: not-allowed;
}
.switch.checked .toggle {
    border-color: #0096cc;
    background-color: #0096cc;
}
.switch.checked .toggle:before {
    transform: translateX(24px);
}
.switch.checked .toggle-sm:before {
    transform: translateX(16px);
}
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-color: #bbb;
    background-color: #bbb;
    transition: all .4s ease;
}
.toggle:hover {
    background-color: #ccc;
}
.toggle:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 1px;
    bottom: 1px;
    background-color: #ffffff;
    transition: all .24s ease;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    border-radius: 50%;
}
.toggle-sm:before {
    height: 14px;
    width: 14px;
}
.toggle.round {
    border-radius: 24px;
}
.toggle-sm.round {
    border-radius: 16px;
}
