.widget-content {
    position: relative;
    padding: 0;

    &.hidden {
        display: none;
    }
    &.fullscreen {
        .webcam-on-container {
            min-height: 100%;
        }
    }
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.flip-horizontally {
        transform: translate(-50%, -50%) rotateX(180deg);
    }
    &.flip-vertically {
        transform: translate(-50%, -50%) rotateY(180deg);
    }
    &.flip-horizontally.flip-vertically {
        transform: translate(-50%, -50%) rotateX(180deg) rotateY(180deg);
    }
}

.webcam-on-container {
    background-color: #000;
    min-height: 240px;
    text-align: center;
    overflow: hidden;
    position: relative;

    .line-shadow {
        box-shadow: 0 0 2px #333;
    }

    .toolbar,
    .image-scale-slider {
        opacity: 0;
        transition: all 200ms ease-in; // use "ease-in" when things are moving out
    }

    &:hover {
        .toolbar,
        .image-scale-slider {
            opacity: 1;
            transition: all 250ms ease-out; // use "ease-out" when things are moving in
        }
    }

    .toolbar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px 20px;
        line-height: 18px;
        background-color: #000;

        .scale-text {
            float: left;
            color: #f5f5f5;
            font-size: 14px;
            text-shadow: 0 0 5px #333;
        }

        .btn-icon {
            color: #f5f5f5;
            font-size: 18px;
            text-shadow: 0 0 5px #333;
            margin-left: 10px;

            &:hover {
                color: #fff;
            }
        }
    }

    .image-scale-slider {
        position: absolute;
        bottom: 30px;
        left: 15px;
        right: 15px;
    }
}

.webcam-off-container {
    padding: 10px;
    text-align: center;

    .icon-webcam {
        display: inline-block;
        height: 128px;
        width: 128px;
        background: url("./images/webcam.svg") no-repeat 0 0;
    }
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 2px;

    &.inverted {
        filter: invert(100%);
    }
    &.icon-unmute {
        background: url("./images/unmute.svg") no-repeat 0 0;
    }
    &.icon-mute {
        background: url("./images/mute.svg") no-repeat 0 0;
    }
    &.icon-rotate-left {
        background: url("./images/mono-rotate-left.svg") no-repeat 0 0;
    }
    &.icon-rotate-right {
        background: url("./images/mono-rotate-right.svg") no-repeat 0 0;
    }
    &.icon-flip-vertically {
        background: url("./images/flip-vertically.svg") no-repeat 0 0;
    }
    &.icon-flip-horizontally {
        background: url("./images/flip-horizontally.svg") no-repeat 0 0;
    }
    &.icon-crosshair {
        background: url("./images/target.svg") no-repeat 0 0;
    }
}
