[data-component="Widgets/AxesWidget"] {
    .widget-content {
        position: relative;
        padding: 10px;

        .toolbar-button {
            position: absolute;
            top: 5px;
            right: 10px;
        }

        .rotate-45deg {
            transform: rotate(45deg);
            &:before {
                transform: rotate(45deg);
            }
        }
        .rotate--45deg {
            transform: rotate(-45deg);
            &:before {
                transform: rotate(-45deg);
            }
        }
        .rotate-90deg {
            transform: rotate(90deg);
            &:before {
                transform: rotate(90deg);
            }
        }
        .rotate--90deg {
            transform: rotate(-90deg);
            &:before {
                transform: rotate(-90deg);
            }
        }

        ion-log-in {
            font-size: 16px;
        }

        .glyphicon-reset {
            transform: scaleX(-1);
            &:before {
                content: "\e030";
            }
        }

        .display-panel {
            margin-bottom: 10px;

            .active-state {
                margin-bottom: 5px;
            }

            .axis-label {
                text-align: center;
                font-size: 24px;
                padding: 0 10px;
                width: 1%;
            }
            .axis-position {
                padding: 0 5px 10px 5px;
                text-align: right;
                white-space: nowrap;
                position: relative;

                .integer-part,
                .decimal-point,
                .fractional-part {
                    font-size: 24px;
                }
                .integer-part {
                    width: 90px;
                    text-align: right;
                }
                .dimension-unit {
                    font-size: 12px;
                    position: absolute;
                    right: 5px;
                    bottom: 0;
                }
            }
            .axis-control {
                width: 1%;
                padding: 0 4px;
                text-align: center;

                .icon {
                    font-size: 12px;
                }
            }
        }

        .control-panel {
            table {
                tbody > tr > td {
                    padding: 0 5px 5px 0;
                }
                tbody > tr > td:last-child {
                    padding-right: 0;
                }
                tbody > tr:last-child > td {
                    padding-bottom: 0;
                }
            }
        }

        .jog-pad {
            margin-bottom: 5px;

            button[class^="jog-"],
            button[class*=" jog-"] {
                font-size: 16px;
                padding: 0;
                width: 36px;
                height: 30px;
                text-align: center;
                vertical-align: middle;

                .glyphicon {
                    font-size: 14px;
                }
            }
        }

        .jog-distance-control {
            .input-group {
                .input-group-btn:not(:first-child):not(:last-child) {
                    .btn {
                        border-radius: 0;
                    }
                    .btn:last-child {
                        border-right: none;
                        margin-right: -1px;
                    }
                }
            }
        }

        .motion-controls {
            float: right;

            .btn {
                width: 100%;
            }
        }

    }
}
