ol[role="navigation"].breadcrumb:first-child {
    margin-top: 10px; // override .commercial-theme
}

ol.breadcrumb {
    padding: 0 0 4px 0;
    margin: 10px 0 10px 0;
    line-height: normal;
    list-style: none;
    border-bottom: 1px #bbbbbb solid;

    > li {
        display: inline-block;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        color: #888888;

        &.active {
            color: #222222;
        }

        > a {
            font-size: 16px;
            line-height: 24px;
            color: #888888;
            text-decoration: none;

            &:hover,
            &:focus {
                color: #0096cc;
            }
        }
        
        > span {
            font-size: 16px;
            line-height: 24px;
        }
        
        > .tm-divider {
            display: inline-block;
            padding: 0 5px 0 5px;
        }
    }
}

.icon-help {
    float: right;
    width: 22px;
    height: 22px;
    margin-top: -1px;
    cursor: pointer;
    background: url(./icon-help.png) no-repeat center top;

    &:hover {
        background-position: center bottom;
    }
    &:before {
        display: none;
    }
}
