.dropdown-toggle {
    min-width: 0;

    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: .25rem dashed #666666;
        border-right: .25rem solid transparent;
        border-left: .25rem solid transparent;
        margin-left: .5rem;

        .dropup & {
            border-top: 0;
            border-bottom: .25rem dashed #666666;
        }
    }

    &:focus {
        outline: 0;
    }

    &.btn-link:hover .caret {
        border-top-color: #0096cc;
    }

    &.empty .caret {
        margin-left: 0;
    }
}
