.widget-content {
    position: relative;

    &.hidden {
        display: none;
    }
    &.fullscreen {
    }

    .inactive-content {
        padding: 10px;
        color: #333;
        opacity: 0.65;
    }
}
