.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.probe-command-description {
    height: 30px;
}

.probe-axis-description {
    height: 15px;
}

.probe-options-row {
    .probe-options-col:nth-child(odd) {
        padding-right: 5px;
    }
    .probe-options-col:nth-child(even) {
        padding-left: 5px;
    }
}
