.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.probe-command-description {
    height: 30px;
}

.probe-axis-description {
    height: 15px;
}
