@import "../variables";

.container {
    background-color: #fff;
    height: 100vh;
}

.login {
    width: 300px;
    margin: 0 auto;
    padding-top: 40px;
}

.logo {
    text-align: center;

    > img {
        width: 128px;
    }
}

.title {
    padding: 18px 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.form {
    margin-bottom: 15px;
}
