.panel {
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-bottom: 10px;
}

.panel-heading {
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
}

.panel-body {
    padding: 10px;
}

.panel-default {
    border-color: #ccc;

    > .panel-heading {
        color: #333;
        background-color: #fafafa;
        border-color: #ccc;
    }
    > .panel-heading:last-child {
        border-color: transparent;
    }
}
