.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }

    .dro-display {
        border: 1px solid #ccc;
        text-align: right;
        padding: 5px 10px;
        font-size: 18px;
        font-weight: bold;
        margin-right: 5px;
    }
    .dro-btn-group {
        margin-left: 5px;
    }
}
