//
// Form
//
.form-fields {
    margin: 0;
}

.form-group {
    margin: 15px 0;

    &:first-child {
        margin-top: 0;
    }

    .form-control {
        width: 440px;
        max-width: 100%;
        margin-right: 10px;

        &.shorter {
            width: 130px;
        }
        &.short {
            width: 250px;
        }
        &.long {
            width: 100%;
        }
    }
}

.form-actions {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    display: block;
    padding: 0 15px;
    border-top: 1px solid #ccc;
    background: #f5f5f5;
    text-align: right;
    line-height: 50px;

    button + button {
        margin-left: 5px;
    }
}
