@import "variables";

.table-no-data {
    > .table-area > .table {
        > .tbody > .table-placeholder {
            text-align: center;
            padding: 44px 12px;
            color: #999;
        }
    }
}

.table-no-data-loader {
    height: ($table-row-height * 3)px;
}
