// Placed here since it has to come after the potential zebra striping
.table-hover {
    > .table-area > .table {
        > .tbody {
            > .tr:hover,
            > .tr.tr-hover {
                background-color: $table-bg-hover;
            }
        }
        > .tbody > .tr > .td.td-link {
            &:hover {
                cursor: pointer;
                a {
                    text-decoration: underline;
                    color: #db3d44;
                }
            }
        }
    }
}
