@import "variables";

//style portal table Minimalism
.table-minimalism {
    &.table-wrapper {
        border: 0;
    }
    > .table-area > .table {
        > .thead,
        > .tbody,
        > .tfoot {
            > .tr {
                > .th,
                > .td {
                    border-bottom: 1px solid $table-border-color;
                }
            }
        }
        > .thead {
            > .tr {
                > .th,
                > .td {
                    border-bottom-width: 2px;
                    border-bottom-color: $table-header-border-bottom-color;
                }
            }
        }
    }
}

