$body-bg = #fff;
$table-border-color = #ddd;
$table-cell-padding = 8px 12px;
$table-condensed-cell-padding = 5px;
$table-header-border-bottom-color = #ccc;
$table-bg-accent = #f9f9f9;
$table-bg-hover = #e6f4fc;
$screen-xs-max = 767px;
$table-row-height = 36px;

$table-th-color = #777;
$table-sortable-bg-hover = #F4F4F4;
$table-sortable-highlight = #222;