.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }

    .icon {
        display: inline-block;
        height: 14px;
        width: 14px;
        vertical-align: middle;
        margin-bottom: 2px;

        &.icon-fan {
            background: url("./images/fan.svg") no-repeat 0 0;
        }
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(359deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.spin-reverse {
    animation: spin-reverse 2s infinite linear;
}
